DateTime-Factory-*
.*
!.gitignore
!.shipit
!.dim.pl
inc/
*.o
*.obj
*.bs
*.def
Makefile*
!Makefile.PL
Build*
!Build.PL
*blib
META.*
MYMETA.*
*.out
*.bak
*.old
*~
*.swp
ppport.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
_build/
/DateTimeX-Factory-*
/.build
/_build_params
/Build
!Build/
!META.json
!LICENSE
